// Миксины
@import "mixins.scss";

// Подключаем шрифты
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');

// Шрифт по умолчанию
$fontfamili: "Lato";

// Подключаем файлы со стилями страниц и элементов
@import "ui.scss";
@import "header.scss";
@import "footer.scss";
@import "slider.scss";



// Переменные
$minwidth: 320px;

.ibg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// Обнуление: общие параметры
@import "null.scss";

// Оболочка
.wrapper {
    overflow: hidden;
    min-height: 100%;
}

// Основная сетка
.contaner {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}

// Основной блок
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}

.main-screen {
    position: relative;
    background-image: url(../images/bg_main.jpg);
    @extend .ibg;
    flex: 1 0 100%;

    // .main-screen__bg
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

}

.content {}

.generation {
    padding: 120px 0;
    background-color: #f7f7f7;

    &__block {}

    @media(max-width: 900px) {
        padding: 80px 0;
    }

    @media(max-width: 600px) {
        padding: 30px 0;
    }
}

.block {
    text-align: center;

    &__icon {
        margin: 0px 0px 30px 0px;
    }

    &__title {
        color: #353738;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        line-height: 24px;
        margin: 0 0 18px 0;
    }

    &__text {
        color: #848789;
        font-size: 18px;
        line-height: 34px;

        &_j {
            text-align: justify;
            font-size: 16px;
            line-height: 30px;

            &:after {
                content: '';
                width: 50px;
                height: 1px;
                display: block;
                margin: 35px auto 0 auto;
                background-color: #353738;
            }
        }
    }

    @media (max-width: 1500px) {
        &__text {
            &_j {
                &:after {
                    margin: 15px auto 0 auto;
                }
            }
        }
    }
}



.brands {
    &_last {}

    &_rev {
        .brands__column {
            @include flexorder(1);

            &_b {
                @include flexorder(2);
            }
        }
    }

    &__row {
        @include flexbox();


    }

    &__column {
        flex: 0 1 33.333%;

        &_b {
            flex: 0 1 66.667%;
        }
    }

    &__item {}

    &__content {
        padding: 70px 65px 55px 65px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            margin: 0 0 0 -10px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #fff;


        }
    }

    &__image {
        padding: 0 0 37.51% 0;
    }

    @media (max-width: 1500px) {
        &__content {
            padding: 40px 35px 30px 35px;
        }
    }

    @media (max-width: 1100px) {
        &_last {
            .brands__column {
                &:nth-child(1) {
                    @include flexorder(2);
                }

                &:nth-child(2) {
                    @include flexorder(1);
                }

                &:nth-child(3) {
                    @include flexorder(3);
                }
            }
        }

        &__row {
            flex-direction: column;
        }
    }
}

.item {
    height: 100%;
    display: block;
    position: relative;

    &__logo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include flexbox;
        flex-direction: column;
        @include anim(0.3s, 0s);
        justify-content: center;
        align-items: center;
        background-color: rgba(100, 194, 158, 0.5);
        z-index: 2;
        opacity: 0;
        visibility: hidden;

        span {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 2.8px;
            text-transform: uppercase;
            color: #ffffff;
        }
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &:hover {
        .item__logo {
            opacity: 1;
            visibility: visible;
        }
    }

    @media (max-width: 1100px) {
        height: auto;
        padding: 0 0 70% 0;
    }
}

// ===========================================================================================


.shop {
    &__body {
        @include flexbox();

    }

    &__column {
        flex: 0 1 16.666%;

        &_b {
            flex: 0 1 33.333%;
        }
    }

    &__block {}

    &__footer {
        background-color: #282f35;
        padding: 75px 0;
        text-align: center;
    }

    &__btn {
        display: inline-block;
        height: 50px;
        line-height: 48px;
        font-size: 14px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 2.8px;
        padding: 0 60px;
        text-transform: uppercase;
        border: solid 1px rgba(255, 255, 255, 0.5);

        &:hover {
            opacity: .5;
        }
    }

    @media (max-width: 1100px) {
        &__body {
            flex-wrap: wrap;
        }

        &__column {
            flex: 0 1 50%;

            &:first-child {
                flex: 0 1 100%;
            }

            &:last-child {
                flex: 0 1 100%;
            }
        }

        &__btn {
            padding: 0 30px;
        }

        &__footer {
            padding: 50px 0;
        }
    }
}

.block-shop {
    height: 100%;

    &__row {
        @include flexbox();
    }

    &__column {
        flex: 0 1 50%;
    }

    &__item {
        height: auto;
        padding-bottom: 50%;

        &_b {
            padding: 0 0 200.5% 0;
        }

        &_l {
            padding-bottom: 100%;
        }
    }
}


.subscribe {
    &__body {
        max-width: 534px;
        margin: 0 auto;
        text-align: center;
        padding: 110px 0;
    }

    &__logo {
        margin-bottom: 39px;

    }

    &__label {
        color: #848789;
        font-style: 24px;
        font-style: italic;
        margin-bottom: 35px;
    }

    &__form {
        @include flexbox();

    }

    &__input {
        flex: 1 1 auto;
        padding-right: 8px;

        .input {
            width: 100%;
            height: 69px;
            background-color: #ffffff;
            border: 1px solid #d3d7d9;
            padding: 0 28px;
            color: #929292;
            font-size: 20px;
            font-style: italic;

            &.focus {
                font-style: normal;
                color: red;
            }
        }
    }

    &__button {
        flex: 0 0 126px;
    }

    &__btn {
        width: 100%;
        height: 69px;
        background-color: #64c29e;
        line-height: 69px;
        color: #ffffff;
        font-style: 24px;
        text-transform: uppercase;
        font-weight: 300;

        &:hover {
            opacity: 0.6;
        }

    }

    @media (max-width:750px) {
        &__body {
            padding: 50px 0;
        }
    }

    @media (max-width:500px) {
        &__form {
            display: block;
        }

        &__input {
            padding: 0px 0px 8px 0px;
        }
    }
}

::-webkit-input-placeholder {
    opacity: .7;
}

/* webkit */
::-moz-placeholder {
    opacity: .7;
}

/* Firefox 19+ */
:-moz-placeholder {
    opacity: .7;
}

/* Firefox 18- */
:-ms-input-placeholder {
    opacity: .7;
}

/* IE */
:focus::-webkit-input-placeholder {
    opacity: 0;
}

/* webkit */
:focus::-moz-placeholder {
    opacity: 0;
}

/* Firefox 19+ */
:focus:-moz-placeholder {
    opacity: 0;
}

/* Firefox 18- */
:focus:-ms-input-placeholder {
    opacity: 0;
}



.footer {
    background-color: #f7f7f7;

    &__row {
        @include flexbox();

        padding: 100px 0;
        align-items: center;
    }

    &__column {
        flex: 0 1 33.333%;

    }

    &__address {
        color: #848789;
        font-size: 14px;
        line-height: 18px;

        p {
            &:first-child {
                font-weight: 700;
            }
        }
    }

    &__social {}

    &__dev {}

    @media (max-width:1100px) {
        padding: 50px 0;
    }

    @media (max-width:600px) {
        padding: 30px 0;

        &__row {
            flex-direction: column;
            text-align: center;
        }

        &__address {
            padding: 0;
        }

        &__social {
            margin: 15px 0;
        }
    }
}

.social {
    @include flexbox();
    justify-content: center;
    align-items: center;

    &__link {
        margin: 0 7.5px;
    }
}

.dev {
    @include flexbox();
    justify-content: flex-end;
    align-items: center;

    &__text {
        color: #848789;
        font-size: 14px;
        font-style: italic;
        padding-right: 9px;
    }

}